<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'it' }}">

<head>

  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  >

  <meta
    name="theme-color"
    content="{{ site.data.site.brand.primary }}"
  >

  {% seo %}

  <link
    rel="stylesheet"
    href="{{ '/assets/css/style.css' | relative_url }}"
  >

  <link
    rel="alternate"
    type="application/rss+xml"
    title="{{ site.title }}"
    href="{{ '/feed.xml' | relative_url }}"
  >

</head>


<body class="page-{{ page.layout }}">

  {% include header.html %}

  <main id="main-content">
    {{ content }}
  </main>

  {% include footer.html %}

</body>

</html>
