---
layout: default
---

<article class="article">

  <div class="container article-container">


    <!-- Breadcrumb -->

    <nav
      class="breadcrumbs"
      aria-label="Breadcrumb"
    >

      <a href="{{ '/' | relative_url }}">
        Home
      </a>

      <span aria-hidden="true">
        /
      </span>

      <a href="{{ '/serie/' | relative_url }}">
        Serie
      </a>

      {% if page.series %}

        <span aria-hidden="true">
          /
        </span>

        <span>
          {{ page.series }}
        </span>

      {% endif %}

    </nav>


    <!-- Article header -->

    <header class="article-header">


      {% if page.series %}

        {% assign current_series = nil %}

        {% for series in site.data.site.series %}

          {% if series.id == page.series %}

            {% assign current_series = series %}

          {% endif %}

        {% endfor %}


        {% if current_series %}

          <a
            class="article-series"
            href="{{ current_series.permalink | relative_url }}"
          >
            {{ current_series.title }}
          </a>

        {% else %}

          <span class="article-series">
            {{ page.series }}
          </span>

        {% endif %}

      {% endif %}


      <h1>
        {{ page.title }}
      </h1>


      {% if page.description %}

        <p class="article-description">
          {{ page.description }}
        </p>

      {% endif %}


      <div class="article-meta">

        {% if page.date %}

          <time datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%d/%m/%Y" }}
          </time>

        {% endif %}

        {% if page.author %}

          <span aria-hidden="true">
            ·
          </span>

          <span>
            {{ page.author }}
          </span>

        {% endif %}

      </div>

    </header>


    <!-- Article content -->

    <div class="article-content">

      {{ content }}

    </div>


    <!-- CTA -->

    {% assign article_cta = page.cta %}

    {% if article_cta %}

      {% include cta.html type=article_cta %}

    {% elsif current_series and current_series.cta %}

      {% include cta.html type=current_series.cta %}

    {% else %}

      {% include cta.html type="default" %}

    {% endif %}


    <!-- Article footer -->

    {% if page.tags %}

      <footer class="article-footer">

        <div class="article-tags">

          {% for tag in page.tags %}

            <span class="tag">
              {{ tag }}
            </span>

          {% endfor %}

        </div>

      </footer>

    {% endif %}


  </div>

</article>
